<!-- CODE BY ROBERT DAVIS only slightly modified by Brennan Saul --> 


<div id="about" data-include="misc/about" style="display: block;">
<img width="100%" height="250px" src="assets/images/flairstory.png" alt="">
<h1><strong>For the last 101 years, Flair has been bridging the gap between technology and business results.</strong></h1>
<p style="padding:20px; text-align:justify;"><span>Last year, Flair Data Systems celebrated our century long history of filling in gaps
for our customers. We began in 1916 as the Porter Burgess Company: a Texas based company that installed speedometers, trunks, and other
auto accessories for dealers and small businesses. The founder, Porter Burgess, knew the importance of offering outstanding service and
maintenance to supplement popular technology. His original commitment to seamlessly integrate new technologies to meet business’ demands
remains the cornerstone of our operations today. Our story involves reinventing ourselves to continuously meet the changing needs of our
customers. Currently, we provide a variety of different solutions and services to best meet your business and IT needs.
</span></p>
<p>
    </p><h4><span class="fa fa-building"></span> Contact:</h4>
    <ul style="list-style-type: none;">
        <li>Flair Data Systems</li>
        <li>2805 N. Dallas Pkwy</li>
        <li>Suite 240</li>
        <li>Plano, TX 76052</li>
        <li>Office: <a href="tel:214453500">214-450-2256</a></li>
        <li>Email: <a href="mailto:sales@flairdata.com">sales@flairdata.com</a></li>
    </ul>
<p></p>
<p>
    </p><h4><span class="fa fa-smile-o"></span> Acknowledgments:</h4>
    <ul style="list-style-type: none; margin-bottom: 3%;">
        <li>Robert Burgess - Practice Lead</li>
        <li>Stan Stewart - Project Manager</li>
        <li>Robert H. Davis II - Software Architect</li>
        <li>Kevin Weaver - User Interface </li>
        <li>Traber Cozad - Data Analytics</li>
        <li>Louis Bodin - Data Analytics</li>
        <li>Brennan Saul - Data Analytics</li>
    </ul>
<p></p>
<hr>
</div>
