<!-- If node does not have content dosplay Welcome message -->
<div class="jumbotron" *ngIf="!node">
  <div class="welcome">
    <span class="glyphicon glyphicon-hand-left"></span>
    <h1>{{ greeting }}</h1>
    <p> {{ message }} </p>
  </div>
</div>

<!-- Display component if node has value -->
<div class="jumbotron" *ngIf="node">
  <div class="node-summary">
    <h1>{{ node }}</h1>
    <table id="t01" style="width:80%">
      <caption>Containers & Views</caption>

        <!-- Column Lables -->
        <tr>
          <th>Container ID</th>
          <th>Views</th>
        </tr>

        <!-- Containers and views -->
        <tr *ngFor="let container of containerList" >
          <td>{{ container.cid }}</td>
          <td>{{ container.views }}</td>
        </tr>
      </table>
  </div>
</div>
