/*
* Styles for HeaderComponent
*/
.outer {

}

#header {
  width: 100%;
  height: 140px;
  background: #023C5B;
  margin: 0;
}

#logo {
  width: auto;
  height: 100%;
  margin: 10px 0px 0px 10px; /* top left bottom right*/
}

.header-rt {
  float: right;
  margin: 25px 20px 0px 0px;
  text-align: right;
  font-size: 40px;
  color: white;
}

/* Outer dive for nav bar */
#navbar {
  padding-top: 10px;
  width: 100%;
  background: #023C5B;
  text-align: center;
  float: center;
}

/* ul of the navbar */
.nav-list {
  height: 50px;
  width: 100%;
  text-align: center;
  list-style-type: none;
  background-color: #023C5B;
  margin-bottom: 0;
}

/* Item in nav list */
.nav-list li {
  display: inline;
  margin-right: 10%;
}

/* Style for navbar text */
.nav-list li a {
  color: white;
  font-size: 20px;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-list li a:hover {
  background-color: #fff;
  color: #023C5B;
}

.active a{
  border: 3px solid white;
  border-color: #fff;
  color: #023C5B;
}
